# Ignore private local files.
# credentials.json contains email login details.
# backup/ is for local backups that should not be committed.
credentials.json
#{
#  "imap_server": "imap.gmail.com",
#  "imap_port": 993,
#  "mailbox": "INBOX",
#  "login_email": "email@gmail.com",
#  "password": "app-password"
#}
backup/
